@font-face {
    font-family: 'montserrat';
    src: url('../fonts/montserrat/Montserrat-Regular.ttf'),
    url('../fonts/montserrat/montserrat.woff') format('woff'),
    url('../fonts/montserrat/montserrat.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }
 @font-face {
    font-family: 'montserratbold';
    src: url('../fonts/montserrat/montserratbold.ttf'),
    url('../fonts/montserrat/montserratbold.woff') format('woff'),
    url('../fonts/montserrat/montserratbold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }